@import "tailwindcss";

.text-font, .py-2 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bg-signup {
  background-color: #000;
}

.logo {
  width: auto;
}

.bgImagesignup {
  width: 100%;
}

.rounded-xl {
  border-radius: 30px;
}

.bg-yellow{
  background: #FBED9B;
  opacity: 0.5;
}

.text-yellow{
  color: #FBED9B;
  font-size: 24px;
}

.bg-yellow:hover{
  opacity: 1;
  font-weight: 700;
}

.rounded{
  border-radius: 6px;
  margin-right: -10px;
}

.login-signup span:hover{
  background-color: #fff;
}

.rounded-l {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

/* .margin-login{
  margin-top: 100px !important;
} */